@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<input id="Button1" type="button" value="button" />
<input type="text" />

<p>Use this area to provide additional information.</p>
